body {
  background: url('./assets/background_single.png');
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  object-fit: contain;
}

#canvas1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  
}

#canvas2 {
  opacity: 0;
}